@model IEnumerable<Artwork>

<h1>konstverk</h1>

<h3>Välj ett konstverk du vill titta närmare på:</h3>

@foreach(var artwork in Model)
{
    <div id="linksforArtworks">
        <a href="artwork/info/@artwork.ArtworkId">@artwork.ArtworkName</a>
    </div>
}