@{
    @model IEnumerable<ArtworkCategoryList>
}

<h1>Välj en kategori av alster som du vill kolla närmare på:</h1>

<div id="menuForCategory">
    @foreach (ArtworkCategoryList artworkCategoryList in Model)
    {
        <button>
            <a href="artwork/info/@artworkCategoryList.ArtworkCategoryListId">@artworkCategoryList.CategoryName</a>
        </button>
    }
</div>