<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css">
    
    
</head>
<body>
    <main class="center-container">
        <h1 id="webbsideName">Apladals boden</h1>
        <nav id="menu">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/artwork">Artwork</a></li>
                <li><a href="">Kontakt</a></li>
            </ul>
        </nav>
        @RenderBody()
    </main>
</body>
</html>