@*Här är där länkar för design och sådant läggs in.*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.cdnfonts.com/css/eclipse-moon" rel="stylesheet">
    
    
</head>
<body>
    <main class="center-container">
        <h1 id="webbsideName">Apladals boden</h1>
        @*Här hämtas menyn från en annan fil som heter _MainNav*@
        <partial name="_MainNav" />
        @RenderBody()
    </main>
</body>
</html>