@*Här är  menyn skriven och valde att lägga den såhär för att man lätt ska kunna hitta den och uppdatera den.*@
<nav id="menu">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/artwork">Artwork</a></li>
        <li><a href="/contact">Kontakt</a></li>
    </ul>
</nav>