@{
    ViewData["Title"] = "Home Page";
}

<h1 id="aboutus">Om oss:</h1>

<p id="aboutUsText"><I> I Värnamo finns det en fin park som heter Apladals boden. <br> Här kan du hitta utställare som bland annat Tuva Gyllensten. <br>
här ställer vi ut alla möjliga alster som du kan titta på om du <br> trycker på artwork. Hur du går till väga för ett besök hos <br> oss hittar du
under kontakt.