/*Här är designen och den länken är kopplad med filen _Layout*/
#picture {
  width: 7em;  /* Responsiv storlek */
  height: auto;      /* Bevara proportionerna */
  text-align: center;
  margin-top: 1em;
  border: 1px solid black;
}

body
{
  background-color: 	#e3c6b4;

}

.divForItems
{
  width: 10em;
}

#productGallery
{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.center-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin: 0;
}

#webbsideName{
  font-family: 'Eclipse Moon', sans-serif;
  font-size: 5em;
  background-color: 	rgb(164, 120, 100, 0.5);
  padding: 0.5em;
  border-radius: 50px;
}

button{
  font-size: 1em;
  background-color: 	rgb(164, 120, 100, 0.5);
  padding: 0.5em;
  border-radius: 50px;
  margin-top: 2em;
  border: none;
}

button:hover{
  background-color: rgb(146, 107, 89);
}
#menuForCategory
{
  display: flex;
  flex-direction: column;
  
}

a, a:visited{
  text-decoration: none;
  color: black;
} 

#information
{
  margin-top: 1em;
}

#linksforArtworks
{
  margin-top: 0.4em;
}

.menu
{
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

.menu li
{
  margin: 0 1em;
}

.menu a 
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu a:hover
{
  color:rgb(146, 107, 89);
}

#aboutUsText
{
  margin-top: -1em;
}

#contactInformation
{
  margin-top: -10px;
}

