#picture {
  max-width: 20%;   /* Responsiv storlek */
  height: auto;      /* Bevara proportionerna */
  text-align: center;
  margin-top: 1em;
}

.center-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin: 0;
}

#information
{
  margin-top: 1em;
}


a, a:visited{
  text-decoration: none; 
  

}
a:hover {
  color: #48a1f4;
}
a, :visited {
  color: black;
}

#linksforArtworks
{
  margin-top: 0.4em;
}

.menu
{
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

.menu li
{
  margin: 0 1em;
}

.menu a 
{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu a:hover
{
  color: #48a1f4;
}

#aboutUsText
{
  margin-top: -1em;
}